@font-face {
  font-weight: 500;
  font-style: normal;
  font-family: Urbanist;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/urbanist/v15/L0xjDF02iFML4hGCyOCpRdycFsGxSrqD-R4fFg.ttf);
}
